.logo {
  position: relative;
  width: 150px; }

.backg {
  background: #94bbe9;
  background: linear-gradient(45deg, #94bbe9 14%, #e3e3e3 34%, #94bbe9 59%, #4791e8 85%); }

.g733 {
  width: 600px; }

.g733txt {
  font-family: 'VCR OSD Mono', sans-serif;
  font-size: 55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  position: relative;
  top: 150px; }

.conta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr; }

.conta-img {
  display: flex;
  justify-content: center; }

.backg2 {
  background: #94bbe9;
  background: linear-gradient(45deg, #94bbe9 14%, #e3e3e3 34%, #94bbe9 59%, #4791e8 85%);
  height: 800px; }

.formregistrar {
  width: 400px;
  height: 500px;
  display: inline-block;
  background: #ffffff;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 8px;
  border-style: inset;
  border-color: aqua; }
  .formregistrar h3 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px; }
  .formregistrar p {
    font-size: 25px;
    text-align: center;
    text-decoration: underline; }

@media screen and (max-width: 450px) {
  .g733txt {
    font-size: 20px;
    position: relative;
    top: 100px; }
  .g733 {
    width: 140%;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    position: relative;
    top: 50px; }
  footer {
    position: relative;
    width: 50%; } }

.foot {
  z-index: 100;
  font-size: 25px;
  position: fixed;
  bottom: -10px;
  width: 100%; }

.redes {
  width: 40px;
  height: auto; }

.backg {
  background: #94bbe9;
  background: linear-gradient(45deg, #94bbe9 14%, #e3e3e3 34%, #94bbe9 59%, #4791e8 85%); }

.box {
  background-color: #2d343a;
  position: relative;
  width: 40%;
  height: 500px; }

/* animacion redes sociales  para footer general*/
.icon {
  display: inline-block;
  margin: auto;
  padding: 5px;
  animation: float 5s ease-in-out infinite;
  transition: 4s; }

.fbline {
  animation-delay: 1s; }

.instagram {
  animation-delay: 2s; }

.whats {
  animation-delay: 2s; }

@keyframes float {
  0% {
    transform: translateY(1); }
  50% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(1); } }
