.logo {
  position: relative;
  width: 150px; }

.foot {
  z-index: 100;
  font-size: 25px;
  position: fixed;
  bottom: -10px;
  width: 100%; }

.redes {
  width: 40px;
  height: auto; }

.backg {
  background: #94bbe9;
  background: linear-gradient(45deg, #94bbe9 14%, #e3e3e3 34%, #94bbe9 59%, #4791e8 85%); }

.box {
  background-color: #2d343a;
  position: relative;
  width: 40%;
  height: 500px; }

.g733 {
  width: 600px; }

.g733txt {
  font-family: 'VCR OSD Mono', sans-serif;
  font-size: 55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  position: relative;
  top: 150px; }


/* animacion redes sociales  para footer general*/

.icon{
    
  display: inline-block;
  margin:auto;
  padding: 5px;
  animation: float 2s ease-in-out infinite;
  transition: 1s;
}

.fbline{
  animation-delay: 1s;
}

.instagram{
  animation-delay: 2s;
}

.whats{
  animation-delay: 3s;
}


@keyframes float {
  0%{
      transform: translateY(1);
  }
  50%{
      transform: translateY(-10px);
  }
  100%{
      transform: translateY(1);
  }
}

/* formulario de registro */

.formsec{
  position: relative;
  height: 800PX;
}

.formregistrar{
  background-color: WHITE;
  width: 400px;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 8px;
  border-style: inset;
  border-color: black;
  
}

.formregistrar h3{
  font-size: 22px;
  margin-bottom: 20px;
}

.formregistrar p{
  text-align: center;
  text-decoration: underline;
}

.controls{
  width: 100%;
  background: white;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid rgb(20, 20, 158);
  font-size: 18px;
  color: black;
}

.botons{
  padding: 12px;
  font-size: medium;
  width: 190px;
  cursor: pointer;
  background: #799be6;
  color: white;
  transition: .5s ease;
  border-radius: 10px;
}

.botons:hover{
  background: transparent;
  border: 2px solid #799be6;
  box-shadow: 0 0 10px 0 #799be6 inset,
  0 0 10px 4px #799be6;
  border-radius: 10px;
}




@media screen and (max-width: 500px) {
  .g733txt {
    font-size: 20px;
    position: relative;
    top: 100px; }
  .g733 {
    width: 140%;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    position: relative;
    top: 50px; }
  footer {
    position: relative;
    width: 50%; } 
  
  .carru{
      width: 100%;
      height: 400px;
    }
  
  
  }


.carru{
  width: 100%;
}
.conta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr; }

.conta-img {
  display: flex;
  justify-content: center; }

